body {
	font-family: Arial, sans-serif;
	margin: 0; padding: 0;
	display: flex; 
	flex-direction: column; 
	height: 100vh;
}

header {
	background-color: #ab1c23;
	color: white;
	padding: 10px 20px;
	font-size: 24px;
	display: flex;
	align-items: center;
}

#backBtn {
	display: none;
	margin-right: 10px;
	cursor: pointer;
	color: white;
	font-size: 20px;
}

main {
	flex: 1;
	padding: 20px;
	overflow-y: auto;
}

#chatInputContainer {
	display: flex;
	justify-content: center;
	margin: 30px auto;
	max-width: 70vw;
}
#resultsContainer {
	display: flex;
	justify-content: center;
	flex-direction: column; 
}

#userQuestion {
	font-weight: bold;
	flex: 0 0 auto;
	margin: 0 5px;
}

#labelContainer {
	flex: 0 0 auto;
}

#chatInput {
	flex: 1;
	width: 60%;
	padding: 10px 15px;
	font-size: 16px;
	border-radius: 10px;
	border: 1px solid #ccc;
}

#searchBtn {
	background-color: #4CAF50; /* 緑色 */
	color: white; /* テキスト色 */
	font-size: 16px; /* フォントサイズ */
	padding: 3px 24px; /* 上下12px、左右24pxのパディング */
	border: none; /* 枠線なし */
	border-radius: 4px; /* 角を丸く */
	cursor: pointer; /* ホバー時にカーソルをポインターに */
	transition: background-color 0.3s, transform 0.3s; /* 色と押し込みアニメーション */
	margin: 0 5px;
}

#searchBtn:hover {
	background-color: #45a049; /* ホバー時の色 */
}

#searchBtn:active {
	transform: translateY(2px); /* 押し込むようなエフェクト */
}

#searchBtn:focus {
	outline: none; /* フォーカス時の枠線を消す */
}
#searchBtn:disabled {
	background-color: #aaa;
}


#searchResults {
	flex: 1 1 auto;
	max-height: 20vh;
	overflow-y: auto;
	margin-bottom: 20px;
}

.result-item {
	border: 1px solid #ccc;
	border-radius: 10px;
	padding: 10px;
	margin-bottom: 10px;
	transition: all 0.2s;
}

.hidden { display: none; }

.label-button {
	display: inline-block;
	margin: 5px 5px 5px 0;
	padding: 5px 10px;
	border-radius: 15px;
	border: 1px solid #aaa;
	cursor: pointer;
	font-size: 12px;
}

.label-button.active {
	border-color: #e74c3c;
	user-select: none;
}

#llmOutput {
	flex: 1 0 auto; /* 残り全ての高さを占める */
	border-top: 1px solid #ccc;
	padding: 10px;
	white-space: pre-wrap;
	max-width: 90vw;
	min-height: 100px;
}

#loading {
	width: 4em;
	height: 4em;
	border-radius: 50%;
	margin: 0 auto;
	border: 0.8em solid #ccc;
	border-top-color: #ab1c23;
	animation: spinner 1.5s linear infinite;
}

.search_result_label {
	padding: 5px;
}
.search_result_label::before {
	content: "#";
	font-weight: bold;
	color: lightcoral;
}
.search_result_similarity::before {
	content: "CosSim: ";
}

@keyframes spinner {
	to {
		transform: rotate(360deg);
	}
}