# OS-specific files
.DS_Store
Thumbs.db

# config file for password, etc.
**/.config/*

# Python specific files
__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info

# IDE files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Build directories
bin/
obj/
dist/
build/

# Log files
*.log

# Created database
chromadb/

# Virtual environments
.venv

# Ignore .continue directory
.continue/

# cache of transformers
.cache/

# 開発用
.archives/
.test/