[Unit]
Description=Watch file changes for OllamaFileSearch
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/lib/OllamaFileSearch/fileWatcherHandler.sh
WorkingDirectory=/usr/local/lib/OllamaFileSearch/py
User=root
Restart=always
RestartSec=5s

# 標準出力をジャーナルに出力: `sudo journalctl -u fileWatcher.service -f`で確認可能
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target